<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="assets/css/Inter.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body >
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->
<h1 style="font-size: 36px;text-align: center;padding-top: 61px;margin-top: 43px;"
    th:text="${'Welcome - ' + username}"></h1>
<p style="text-align: center;" th:text="${'You logged in as - ' + roles}"></p>
<h1 style="text-align: center;font-size: 40px;padding-top: 48px;">User Controller</h1>
<section>
    <div class="container py-5">
        <div class="mx-auto" style="max-width: 900px;">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center" style="margin-bottom: 62px;">
                <div class="col mb-4" style="padding-bottom: 0px;">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-primary card-text mb-2">Fully Managed</p>
                            <h5 class="fw-bold card-title mb-3">Choose a Service</h5>
                            <button class="btn btn-primary btn-sm" type="button">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-secondary card-text mb-2">Fully Managed</p>
                            <h5 class="fw-bold card-title mb-3">Edit Profile</h5>
                            <button class="btn btn-secondary btn-sm" type="button"><a th:href="@{/displayProfile}">Edit</a></button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-info card-text mb-2">Fully Manager</p>
                            <h5 class="fw-bold card-title mb-3">View choosed service</h5>
                            <button class="btn btn-info btn-sm" type="button">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <h1 style="text-align: center;font-size: 40px;">Admin Controller</h1>
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center"
                     style="margin-top: 0px;padding-top: 68px;">
                    <div class="col mb-4" style="padding-bottom: 0px;">
                        <div class="card bg-primary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-primary card-text mb-2">Admin Manager</p>
                                <h5 class="fw-bold card-title mb-3">Add/Delete a Service()</h5>
                                <button class="btn btn-primary btn-sm" type="button"><a th:href="@{/admin/displayServices}">CRUD</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-secondary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-secondary card-text mb-2"><strong><span
                                        style="color: rgb(55, 99, 244); background-color: rgba(31, 80, 243, 0.3);">Admin</span></strong>&nbsp;Managed
                                </p>
                                <h5 class="fw-bold card-title mb-3">Remove User()</h5>
                                <button class="btn btn-secondary btn-sm" type="button"><a th:href="@{/admin/displayAccount}">Remove</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-info-light">
                            <div class="card-body text-center px-4 py-5 px-md-5">
                                <p class="fw-bold text-info card-text mb-2"><strong><span
                                        style="color: rgb(55, 99, 244); background-color: rgba(31, 80, 243, 0.3);">Admin</span></strong>&nbsp;Managed
                                </p>
                                <h5 class="fw-bold card-title mb-3"><strong>View Contact Messege()</strong></h5>
                                <button class="btn btn-info btn-sm" type="button"><a th:href="@{/displayMessages}">View</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container bg-dark py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Other Feature</p>
                <h3 class="fw-bold">What's new feature ?</h3>
            </div>
        </div>
        <div class="py-5 p-lg-5">
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-pin-angle text-success">
                                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">View your Product</h5>
                            <p class="text-muted card-text mb-4">You can view your Product you have buy</p>
                            <button class="btn btn-primary shadow" type="button">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-pin-angle text-success">
                                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">Remove Product</h5>
                            <p class="text-muted card-text mb-4">You can remove Product</p>
                            <button class="btn btn-primary shadow" type="button">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-pin-angle text-success">
                                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">Add/Delete User Service</h5>
                            <p class="text-muted card-text mb-4">This feature is for admin</p>
                            <button class="btn btn-primary shadow"><a th:href="@{/admin/displayUsers}">CRUD</a></button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-pin-angle text-success">
                                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">Add new product/remove</h5>
                            <p class="text-muted card-text mb-4">This feature is for admin</p>
                            <button class="btn btn-primary shadow" type="button"><a th:href="@{/displayProduct}">Learn more</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section></section>
<div class="pt-3 pb-2"></div>
<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->
<script>
    function changeClass() {
  var drop = document.getElementById("drop");
if(drop.classList.contains("undefined")){
  drop.classList.add("open");
    drop.classList.remove("undefined");
  }else{
    drop.classList.add("undefined");
    drop.classList.remove("open");
  }

}
</script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/bold-and-dark.js"></script>
</body>

</html>