<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="assets/css/Inter.css">
    <link rel="stylesheet" href="assets/css/cart.css">
</head>

<body>
<div th:replace="~{header :: header}">...</div>
<div class="container-xl h-100" style="height: 200px;" th:if="${cart ==null}">
<h1>No product in cart !!!</h1>
</div>
<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Shopping Bag</h4>
        </div>

    </div>
<div th:with="totalPrice=0">

        <div class="row d-flex justify-content-center border-top" th:each="item :${cart}">
            <div class="col-5" th:with="totalPrice=${totalPrice + item.product.fees * item.quantity}">
                <div class="row d-flex">
                    <div class="book" th>
                        <img th:src="@{|data:image/jpeg;base64,${item.product.image}|}" class="book-img"/>
                    </div>
                    <div class="my-auto flex-column d-flex pad-left">
                        <h6 class="mob-text" th:text="${item.product.name}"></h6>
                    </div>
                </div>
            </div>
            <div class="my-auto col-7">
                <div class="row text-right">
                    <div class="col-4">
                        <p class="mob-text">Digital</p>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-end px-3">
                            <p class="mb-0" id="cnt1" th:text="${item.quantity}"></p>
                            <div class="d-flex flex-column plus-minus">
                                <span class="vsm-text plus" th:href="@{/addItemToCart(productId=${item.product.productId})}">+</span>
                                <span class="vsm-text minus" th:href="@{/remove(productId=${item.product.productId})}">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" >
                        <h6 class="mob-text" th:inline="text">
                            $[[${item.product.fees * item.quantity}]]
                        </h6>
                    </div>
                </div>
            </div>
        </div>



        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-3 radio-group">
                            <div class="row d-flex px-3 radio">
                                <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                                <p class="my-auto">Credit Card</p>
                            </div>
                            <div class="row d-flex px-3 radio gray">
                                <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                                <p class="my-auto">Momo</p>
                            </div>
                            <div class="row d-flex px-3 radio gray mb-3">
                                <img class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                                <p class="my-auto">PayPal</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row px-2">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Name on Card</label>
                                    <input type="text" id="cname" name="cname" placeholder="Johnny Doe">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Card Number</label>
                                    <input type="text" id="cnum" name="cnum" placeholder="1111 2222 3333 4444">
                                </div>
                            </div>
                            <div class="row px-2">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Expiration Date</label>
                                    <input type="text" id="exp" name="exp" placeholder="MM/YYYY">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="***">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <div class="row d-flex justify-content-between px-4">
                                <p class="mb-1 text-left" >Subtotal</p>
                                <h6 class="mb-1 text-right" th:text="${totalPrice}" >

                                </h6>
                            </div>
                            <div class="row d-flex justify-content-between px-4">
                                <p class="mb-1 text-left">Shipping</p>
                                <h6 class="mb-1 text-right">$2.99</h6>
                            </div>
                            <div class="row d-flex justify-content-between px-4" id="tax">
                                <p class="mb-1 text-left">Total (tax included)</p>
                                <h6 class="mb-1 text-right">$26.48</h6>
                            </div>
                            <form method="post" th:action="@{/pay}">
                                <input type="text" value="5" name="price" />
                            <button class="btn-block btn-blue">
                            <span>
                                <span id="checkout">Checkout</span>
                                <span id="check-amt">$26.48</span>
                            </span>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
<script>
    function changeClass() {
  var drop = document.getElementById("drop");
if(drop.classList.contains("undefined")){
  drop.classList.add("open");
    drop.classList.remove("undefined");
  }else{
    drop.classList.add("undefined");
    drop.classList.remove("open");
  }

}
</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script>
        $(document).ready(function(){

$('.radio-group .radio').click(function(){
    $('.radio').addClass('gray');
    $(this).removeClass('gray');
});

$('.plus-minus .plus').click(function(){
    var count = $(this).parent().prev().text();
    $(this).parent().prev().html(Number(count) + 1);
});

$('.plus-minus .minus').click(function(){
    var count = $(this).parent().prev().text();
    $(this).parent().prev().html(Number(count) - 1);
});

});
    </script>
</body>

</html>