<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="assets/css/Inter.css">
<!--    <link rel="stylesheet" href="assets/css/untitled.css">-->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
<div th:replace="~{header :: header}">...</div>

    <section class="w3l-contact py-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Registration Form</h3>
            </div>
            <div class="row login-block">
                <div class="col-md-7 login-center">
                    <ul>
                        <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('person.*')}" th:text="${error}" />
                    </ul>
                    <form th:action="@{/public/createUser}" method="post" class="signin-form" th:object="${person}">
                        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                            <p class="text-uppercase">Personal Details</p>
                        </div>
                        <div class="input-grids">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{name}" placeholder="Name"
                                           class="contact-input" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{mobileNumber}" placeholder="Mobile Number"
                                           class="contact-input" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{email}" placeholder="Email"
                                           class="contact-input" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{confirmEmail}" placeholder="Confirm Email"
                                           class="contact-input" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="password" th:field="*{pwd}" placeholder="Password"
                                           class="contact-input" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" th:field="*{confirmPwd}" placeholder="Confirm Password"
                                           class="contact-input" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 login-center text-start">
                            <button class="btn btn-style btn-style-3">Register</button>
                        </div>
                    </form>
                    <div class="mt-3"><p class="pb-20px">Already have account?</p><a th:href="@{/login}">Login</a></div>
                </div>
            </div>
        </div>
    </section>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<!--<script src="assets/js/bold-and-dark.js"></script>-->
</body>

</html>